      <form class="" method="post" action="/postKey">
          <select class="form-control" name="quantidade" style="float:left;width:15%">
            <option value="0">Selecione</option>
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
       <button type="submit" name="btnGerarKey" class="btn btn-primary" style="margin-left:2%;margin-top:0.1%;margin-bottom:10px">GerarKey</button>
     </form>
       <table class="table">
      <thead>
        <tr class="table-light">
        </tr>
        <tr class="table-light">
          <th scope="col">Key</th>
          <th scope="col">Dono</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < results.length; i++) {%>
          <tr>
            <td><%= results[i].TX_KEY %></td>
            <td><%= results[i].NICK %></td>
          </tr>
        <%} %>
      </tbody>
    </table>
    <nav aria-label="pagination example">
      <ul class="pagination justify-content-end">
          <li class="page-item disabled">
              <a class="page-link bg-light" href="#" tabindex="-1">Previous</a>
          </li>
          <% for(var i=1;i <= numPaginas;i++) {%>
            <li class="page-item"><a class="page-link bg-light" href="?pagina=<%= i %>"><%= i %></a></li>
          <%}%>
          <li class="page-item">
              <a class="page-link bg-light" href="#">Next</a>
          </li>
      </ul>
  </nav>
