<strong><legend>Incluir organizacao</legend></strong>
<form class="" action="/postOrganizacao" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <div class="col-md-9">
      <label for="">Nome da organizacao</label>
      <input type="text" name="nome" value="" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-9">
      <label for="">Pais de origem</label>
      <input type="text" name="pais" value="" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-9">
      <label for="">Foto da organizacao</label>
      <input type="file" name="foto" value="">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-9">
      <input type="submit" name="enviar" value="Enviar" class="btn btn-primary">
    </div>
  </div>
</form>
<div class="col-md-9">
  <%if(results.length > 0){%>
    <table>
      <thead>
        <tr>
          <td>Foto</td>
          <td>Nome</td>
          <td>País</td>
        </tr>
      </thead>
      <tbody>
        <%for(var i=0; i < results.length; i++){%>
          <tr>
            <td><img src="http://localhost:5000/<%= results[i].FT_ORGANIZACAO %>" alt="" width="10%" height="10%"></td>
            <td><%= results[i].NM_ORGANIZACAO %></td>
            <td><%= results[i].PAIS_ORGANIZACAO %></td>
          </tr>
          <%}%>
        </tbody>
      </table>
      <%}%>
</div>
