<form action="/alterarRanking" method="POST">
  <!-- Modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title text-primary" id="exampleModalLongTitle">Confirmação</h3>
        </div>
        <div class="modal-body">
          <h4 class="text-danger">Realmente deseja trocar a season atual para a nova ?</h4>
          <h5 class="text-danger">Obs: Não é possivel voltar atrás</h5>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Sim</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->
  <div class="form-group">
    <div class="col-md-9">
      <label for="nomeSeason">Nome Season</label>
      <input type="text" name="season" id="nomeSeason" class="form-control">
    </div>
  </div>
    <div class="form-group">
      <div class="col-md-9">
        <input type="button" value="Incluir Season" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
      </div>
    </div>
</form>
<div class="col-md-9">
  <%if(results.length > 0){%>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data inicio</th>
          <th>Data fim</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i=0; i < results.length ; i++){%>
          <tr>
            <td><%= results[i].NM_SEASON%></td>
            <td><%= results[i].DT_INICIO != undefined ? moment(results[i].DT_INICIO).format('DD/MM/YYYY') : ''%></td>
            <td><%= results[i].DT_FIM != undefined ? moment(results[i].DT_FIM).format('DD/MM/YYYY') : ''%></td>
          </tr>
          <%}%>
        </tbody>
      </table>
      <%}%>
</div>
