<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div id="toggle-sidebar">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="sidebar-brand">
      <a href="/">BATTLEBUFF</a>
    </div>
    <div class="sidebar-header">
      <%if(session.autenticado){%>
      <div class="user-pic">
        <a href="#"><img class="img-responsive img-rounded" src="<%= 'imgs/btr-images/' + session.img %>" alt="User picture"></a>
      </div>
      <div class="user-info">
        <span class="user-name"><a href="#">
            <%= session.nick%></a></span>
        <span class="user-role"><%= session.title%></span>
        <span class="user-status">
          <span><%= session.league%></span>
        </span>
      </div>
      <%} else{%>
      <div class="user-pic">
        <a href="#"><img class="img-responsive img-rounded" src="imgs/btr-images/30000" alt="User picture"></a>
      </div>
      <div class="user-info">
        <span class="user-name"><a href="#">Name</a></span>
        <span class="user-role">Title</span>
        <span class="user-status">
          <span>League</span>
        </span>
      </div>
      <%}%>
    </div>
    <%if(!session.autenticado){%>
    <div class="sidebar-search">
      <center><a href="/auth"><img class="log-in" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"></a></center>
    </div>
    <%}%>
    <!-- sidebar-search  -->
    <div class="sidebar-menu">
      <ul id="indices-side-bar-menu">
        <li>
          <a href="/">
            <i class="fa fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-question"></i>
            <span>Sobre</span>
          </a>
        </li>
        <% if(typeof session.autenticado != "undefined") {%>
        <li class="header-menu">
          <span>In-house</span>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="fa fa-gamepad"></i>
            <span>Battlerite</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="/sala">Salas</a>
              </li>
              <li>
                <a href="/rank">Rank</a>
              </li>
            </ul>
          </div>
        </li>
        <%}%>
        <% if(typeof session.sessaoAdmin != "undefined") {%>
        <li class="header-menu">
          <span>Admin</span>
        </li>
        <li id="dashboard-side-menu">
          <a href="/admin">
            <i class="fa fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <%}%>
      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  <%if(session.autenticado){%>
  <div class="sidebar-footer">
    <a href="/?sair=sim">
      <i class="fa fa-power-off"></i>
    </a>
  </div>
  <%}%>
</nav>
</nav>
