<div class="col-md-3 side-bar">
  <img src="https://i.imgur.com/2s6YDY7.png">
  <div class="profile-body">
    <span class="profile-name">...</span><br>
    <div class="card text-white border-light mb-3 profile-card">
      <div class="card-header">Status Geral</div>
      <div class="card-body">
        <span>Liga: ...</span><br>
        <span>Partidas: ...</span><br>
        <span>Main-Role: ...</span><br>
      </div>
    </div>
    <div class="card text-white border-light mb-3 profile-card">
      <div class="card-header">Status In-House</div>
      <div class="card-body">
        <span>Rank: ...</span><br>
        <span>Partidas: ...</span><br>
        <span>Winrate: ...</span><br>
      </div>
    </div>
    <center><a href="./auth"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"></a></center>
  </div>
</div>
