<!doctype HTML>
<html lang="pt">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container min-100">
    <div class="row">
      <div class="col-md-3 side-bar">
        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/b9/b9650604e28b07d44251fcf8fa51eac676f4187f_full.jpg">
        <div class="profile-body">
          <span class="profile-name">TrilluXe</span><br>
          <div class="card border-secondary mb-3 profile-card">
            <div class="card-header">Status Geral</div>
            <div class="card-body">
              <span>Liga: Diamante</span><br>
              <span>Partidas: 2000</span><br>
              <span>Main-Role: Melee</span><br>
            </div>
          </div>
          <div class="card text-white bg-dark mb-3 profile-card">
            <div class="card-header">Status In-House</div>
            <div class="card-body">
              <span>Rank: 10</span><br>
              <span>Partidas: 15</span><br>
              <span>Winrate: 53%</span><br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <h3>Salas Abertas</h3>
        <h3>Salas Finalizadas</h3>
        <table class="table">
          <thead>
            <tr class="table-light">
              <form>
              <th scope="col">Buscar partidas</th>
              <th colspan="2" scope="col"><input class="form-control" type="text"></th>
              <th scope="col"><input class="btn btn-primary form-control" type="submit"></th>
              </form>
            </tr>
            <tr class="table-light">
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Dono da Sala</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2958327895357</th>
              <td>Sala do Tetis</td>
              <td>Techzz</td>
              <td>10/11/2018</td>
            </tr>
            <tr>
              <th scope="row">2958327395357</th>
              <td>Sala do Jonais</td>
              <td>Jonais</td>
              <td>10/11/2018</td>
            </tr>
            <tr>
              <th scope="row">2958327395357</th>
              <td>Sala do Jonais</td>
              <td>Jonais</td>
              <td>10/11/2018</td>
            </tr>
            <tr>
              <th scope="row">2958327395357</th>
              <td>Sala do Jonais</td>
              <td>Jonais</td>
              <td>10/11/2018</td>
            </tr>
            <tr>
              <th scope="row">2958327395357</th>
              <td>Sala do Jonais</td>
              <td>Jonais</td>
              <td>10/11/2018</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="pagination example">
          <ul class="pagination justify-content-end">
              <!--Previous button-->
              <li class="page-item disabled">
                  <a class="page-link bg-light" href="#" tabindex="-1">Previous</a>
              </li>

              <!--Numbers-->
              <li class="page-item"><a class="page-link bg-light" href="#">1</a></li>
              <li class="page-item"><a class="page-link bg-light" href="#">2</a></li>
              <li class="page-item"><a class="page-link bg-light" href="#">3</a></li>

              <!--Next button-->
              <li class="page-item">
                  <a class="page-link bg-light" href="#">Next</a>
              </li>
          </ul>
      </nav>
      </div>
    </div>
</div>
<footer class="page-footer bg-light">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> Kobat</a>
  </div>
</footer>
</body>
</html>
