<!doctype HTML>
<html lang="pt">
<head>
<% include includes/header.ejs %>
<title>BattleBuff - Home</title>
</head>
<body>
  <div class="container min-100">
    <div class="row">
      <% include includes/side-bar.ejs %>
      <div class="col-md-9">
        <center style="margin-top: 30px">
        <form method="post" action="/sala/<%= sala%>">
          <div class="g-recaptcha" data-sitekey="6LeNJnAUAAAAAA63qdSFpneLWZ1ZxFIcZgZvcrxz"></div>
          <input class="btn btn" style="margin-top: 10px" type="submit" value="Verificar">
        </form>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        </center>
      </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
