<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Battlebuff</title>
  <link rel="stylesheet" href="/stylesheet/app.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="centro">
      <a href="./auth"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" alt="Steam Login"></a>
</div>
      <div class="centro">

      <table class="table">
        <thead>
          <tr>
              <th colspan="2" class="cool"><center>Profiles</center></td>
                </tr>
              </thead>
              <tbody>
                <% if(typeof response != "undefined"){ %>
                <% response.forEach(function(data) { %>
                <tr>
                  <td><img width="50px" height="50px" src="<%= ('https://battlerite.club/_Assets/images/avatar/' + data.attributes.stats.picture + '.png') %>"></td>
                  <td><%= data.attributes.name %></td>
                </tr>
                <% })} %>
              </tbody>
            </table>
          </div>
        </div>
      </body>
      </html>
