<!doctype HTML>
<html lang="pt">
<% include public/includes/header.ejs %>
<body>
  <div class="container min-100">
    <div class="row">
      <% include public/includes/side-bar.ejs %>
      <div class="col-md-9">
        <div class="jumbotron">
          <img class="logo-header" src="/imgs/battlebuff-logo.png">
          <form class="form-inline">
            <div class="active-key">
              <input type="password" class="form-control" placeholder="Insira uma chave de ativação">
              <button type="submit" class="btn btn-danger">Enviar</button>
            </div>
          </form>
        </div>
        <center><h3>In-House</h3></center>
        <!--BATTLERITE-->
        <div class="game">
          <div class="head">
            <img src="/imgs/battlerite-logo.png">
          </div>
          <div class="body">
            <span class="title">Battlerite</span>
            <span class="salas text-info">5 salas abertas</span>
            <form>
              <button type="submit" class="btn btn-success">Entrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<% include public/includes/footer.ejs %>
</body>
</html>
