<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%if(erros.length > 0){%>
      <ul>
        <%for(var i = 0; i < erros.length ; i++){%>
          <li><%= erros[i].msg %></li>
        <%}%>
      </ul>
    <%}%>
    <%if(sucesso.length > 0){%>
      <ul>
        <%for(var i = 0; i < sucesso.length ; i++){%>
          <li><%= sucesso[i].msg %></li>
        <%}%>
      </ul>
    <%}%>
    <form class="" action="/postOrganizacao" method="post" enctype="multipart/form-data">
      <div class="">
        <label for="">Nome da organizacao</label>
        <input type="text" name="nome" value="">
      </div>

      <div class="">
        <label for="">Pais de origem</label>
        <input type="text" name="pais" value="">
      </div>

      <div class="">
        <label for="">Foto da organizacao</label>
        <input type="file" name="foto" value="">
      </div>
      <div class="">
        <input type="submit" name="enviar" value="Enviar">
      </div>
    </form>
  </body>
</html>
