<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%if(sessao){%>
      <h1>NICK: <%= nick%><br> STEAMID: <%= steamid%> <br> BRID: <%= btrid%></h1>
      <a href="./sessao?sair=sim">Sair</a>
    <%}%>
  </body>
</html>
